<div class="card text-center my-3" style="font-family: 'Trebuchet MS'; width: 50%; margin: auto;">
    <h4 class="card-header"><i class="fas fa-pencil-alt prefix"></i>Create Posts</h4>
    <section class="feed-posts">
        <form id="post-form" action="/posts/create-post" method="post">
            <textarea name="content" class="my-3" id="" cols="30" rows="10" placeholder="Type here ..." required></textarea>
            <div>
                <button class="btn btn-primary my-3">Add Post</button>
            </div>
        </form>
    </section>
</div>
